/* ---body--- */
body{
    display: grid;
    justify-content: center;
}

/* ---------
---header---
--------- */

.for-margin{
    margin-top: 69px;
    display: grid;
    justify-content: center;
}
.head{
    display: grid;
    grid-template-columns: 580.56px 580.56px;
    grid-gap: 50px;
    background-color: #161616;
    border-radius: 20px;
    width: 1320px;
    height: 627px;
}
#text{
    margin-left: 106px;
    margin-top: 106px;
    margin-bottom: 106px;
}
.football{
    color: white;
    width: 530.6px;
    height: 413.18px;
}
.football h1{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 70px;
}
.football p{
    font-size: 16px;
    margin-bottom: 30px;
    width: 505.62px;
    height: 75.71px;
}
.football img{
    width: 580.56px;
    height: 594.97px;
    background-position: right;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 79px;
}
.football a{
    text-decoration: none;
    background-image: linear-gradient(brown, chocolate);
    color: white;
    font-weight: 800;
    padding: 16px 25px;
    border-radius: 5px;
    width: 187px;
    height: 56px;
}

/* --------------
---2nd section---
-------------- */

.flex-container{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}
.upcoming{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    background-color: #161616;
    border-radius: 10px;
    width: 312px;
    height: 200px;
}
h2{
    width: 252px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 17px;
    margin-bottom: 0px;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
}

#h2-red{
    color: #FFFFFF;
    background-color: red;
    margin-bottom: 17px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.notflex{
    width: 312px;
    height: 362px;
    margin-left: 24px;
    border-radius: 10px;
}
.border{
    border: 1px solid black;
    border-radius: 5px;
    width: 60px;
}
.notflex p{
    display: flex;
    justify-content: space-between;
}
.tab{
    display: flex;
    justify-content: center;
}
#only-for-tab{
    text-decoration: none;
    background-image: linear-gradient(brown, chocolate);
    color: white;
    padding: 16px 25px;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    margin-bottom: 80px;
}

/* --------------
---3rd section---
-------------- */
.goal{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.color-decoration{
    background-color: #161616;
    width: 1600px;
    height: 444px;
    color: #FFFFFF;
}

.goal-decoration h1{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}
hr{
    width: 1320px;
    color: gray;
    margin-bottom: 80px;
}
footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
}

/* ---------------
---@screenmedia---------------------------------------------------------------------
------------------ */

/* desktop */
@media only screen and (min-width:993px) {
    #only-for-tab{
        display: none;
    }
}

@media only screen and (max-width:660px) {
    /* ---body--- */
    body{
        display: grid;
        justify-content: center;
    }
    /* ---------
    ---header---
    --------- */

    .for-margin{
        margin-top: 20px;
    }
    .head{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #161616;
        border-radius: 20px;
        width: 320px;
        height: 740px;
    }
    #text{
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .football{
        color: white;
        width: 320px;
        height: 142px;
    }
    .football h1{
        font-size: 50px;
    }
    .football p{
        font-size: 16px;
        margin-bottom: 30px;
        width: 320px;
        height: 75.71px;
    }
    .football img{
        width: 280px;
        height: 300px;
        margin-top: none;
    }
    .football a{
        text-decoration: none;
        background-image: linear-gradient(brown, chocolate);
        color: white;
        padding: 16px 25px;
        border-radius: 5px;
        width: 187px;
        height: 56px;
    }

    /* --------------
    ---2nd section---
    -------------- */

    .flex-container{
        margin-top: 50px;
        display: grid;
        width: 320px;
        height: 50%;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-bottom: 30px;
    }
    .upcoming{
        display: grid;
        align-items: center;
        background-color: #161616;
        border-radius: 10px;
        width: 312px;
        height: 200px;
        margin-bottom: 20px;
    }
    h2{
        width: 252px;
        height: 30px;
        font-size: 20px;
        margin-top: 17px;
        margin-bottom: 0px;
        border-radius: 10px;
        background-color: #FFFFFF;
        text-align: center;
    }

    #h2-red{
        color: #FFFFFF;
        background-color: red;
        margin-bottom: 17px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .notflex{
        width: 312px;
        height: 362px;
        margin-left: 2px;
        border-radius: 10px;
    }
    .notflex img{
        width: 312px;
        height: 200px;
    }
    .border{
        border: 1px solid black;
        border-radius: 5px;
        width: 60px;
    }
    .notflex p{
        display: flex;
        justify-content: space-between;
    }
    .tab{
        display: flex;
        justify-content: center;
    }
    #only-for-tab{
        display: none;
    }

    /* --------------
    ---3rd section---
    -------------- */
    .goal{
        display: grid;
        justify-content: center;
    }
    .color-decoration{
        background-color: #161616;
        width: 320px;
        height: 600px;
        color: #FFFFFF;
    }

    .goal-decoration h1{
        font-size: 40px;
        margin-bottom: 40px;
    }
    hr{
        width: 220px;
        color: gray;
        margin-bottom: 60px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 661px) and (max-width: 992) {
    /* ---body--- */
    body{
        display: grid;
        justify-content: center;
    }

    /* ---------
    ---header---
    --------- */

    .for-margin{
        margin-top: 30px;
    }
    .head{
        display: grid;
        grid-template-columns: 40% 40% ;
        grid-gap: 30px;
        width: 90%;
        height: 70%;
    }
    #text{
        margin-left: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .football{
        color: white;
        width: 40%;
        height: 460px;
    }
    .football h1{
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 50px;
    }
    .football p{
        font-size: 16px;
        margin-bottom: 30px;
        width: 40%;
        height: 69px;
    }
    .football img{
        width: 40%px;
        height: 40%px;
        margin-top: 22px;
        margin-left: 14px;
        margin-right: 29px;
    }

    /* --------------
    ---2nd section---
    -------------- */

    .flex-container{
        margin-top: 80px;
        display: grid;
        justify-content: center;
        margin-bottom: 80px;
    }
    .upcoming{
        display: flex;
        border-radius: 10px;
        width: 312px;
        height: 200px;
    }
    h2{
        width: 252px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 17px;
        margin-bottom: 0px;
        border-radius: 10px;
        background-color: #FFFFFF;
        text-align: center;
    }

    #h2-red{
        color: #FFFFFF;
        background-color: red;
        margin-bottom: 17px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .notflex{
        width: 312px;
        height: 362px;
        margin-left: 24px;
        border-radius: 10px;
    }
    .border{
        border: 1px solid black;
        border-radius: 5px;
        width: 60px;
    }
    .notflex p{
        display: flex;
        justify-content: space-between;
    }
    .tab{
        display: flex;
        justify-content: center;
    }
    #only-for-tab{
        text-decoration: none;
        background-image: linear-gradient(brown, chocolate);
        color: white;
        padding: 16px 25px;
        border-radius: 5px;
        width: 60px;
        height: 20px;
        margin-bottom: 80px;
    }

    /* --------------
    ---3rd section---
    -------------- */
    .goal{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
    .color-decoration{
        background-color: #161616;
        width: 800px;
        height: 444px;
        color: #FFFFFF;
    }

    .goal-decoration h1{
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    hr{
        width: 720px;
        color: gray;
        margin-bottom: 80px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
    }
}